// **********************************
// Styling of all visual elements in
// the user-settings component
// **********************************

.user-settings__outer-wrapper{
  text-align:left;
  display: inline-block;
  width: 50%;
}
