// **********************************
// Sass variables live here
// **********************************

$mat-accent: #5C6BC0; // accent color for angular-material

$medium-font: 1em;
$small-font: .8em;
