.ev-popup {
  display: flex;
  flex-direction: column;

  .ev-popup__selection {
    width: 70%;
  }

  .ev-popup__information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 3rem;
  }

  .ev-popup__information.ev_model {
    justify-content: flex-start;
    width: 100%;

    mat-form-field {
      width: 75%;
    }
  }
}

.ev-popup-actions {
  float: right;
  margin-top: 1rem;
  padding: 0.5rem;

  button {
    margin-right: 0.5rem;
  }
}
