.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eceff1;
  color: #263238;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 1px 1px #ccc;
}

.mat-toolbar__content {
  display: flex;
  justify-content: flex-end;
}

.mat-toolbar__title {
  padding-left: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.toolbar-user {
  margin-right: 1em;
  font-size: 0.8em;
}

.mat-toolbar button.active {
  color: #5c6bc0;
  border: none;
}

.mat-toolbar button:focus {
  outline: none;
}
